# AI Providers
GOOGLE_GENERATIVE_AI_API_KEY=""
MISTRAL_API_KEY=""
AI_PROVIDER=google

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/fitted-in"

# Redis
REDIS_URL=""

# Supabase
SUPABASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""

# Server
PORT=3001
